* {
  box-sizing: border-box;
}

.App {
  max-width: 480px;
  margin: 0 auto;
}

.App-header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

#WalletState {
  width: 100%;
}

.Monitor {
  text-align: left;
}

.Monitor ul {
  margin-bottom: 14px;
}

.MintForm {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.MintForm label {
  width: 100%;
}

.MintForm input[type='text'],
select {
  width: 80px;
  height: 40px;
  display: inline-block;
  border: 1px solid #d9d9ef;
  border-radius: 12px;
  padding: 4px 10px;
  margin: 0 12px 0 12px;
  text-align: right;
}

.MintForm button {
  height: 40px;
  width: 100%;
  background-color: #d73252;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-weight: 600;
  display: inline-block;
}

.MintForm button:active {
  background-color: #c72948;
}
